* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  background-color: #0c1445;
  color: #f5f5f5;
  overflow-x: hidden;
}
section {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}
.title {
  font-size: 130px;
}
.name {
  position: absolute;
  top: 20px;
  left: 10px;
  font-weight: 200;
  font-size: 30px;
  opacity: 0.5;
}
.counter-down {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  width: 90%;
  margin-bottom: 50px;
}
.counter-down .element {
  text-align: center;
  margin-right: 50px;
  font-size: 40px;
}
@media (max-width: 776px) {
  section {
    height: 120vh;
  }
  .counter-down {
    flex-direction: column;
  }
  .counter-down .element {
    margin-top: 50px;
  }
  .image img {
    display: none;
  }
}
@media (max-width: 676px) and (min-width: 920px) {
  .counter-down .element {
    font-size: 10px;
  }
}
.image {
  position: absolute;
  top: 20px;
  right: 20px;
  /* max-width: 100px;
  height: auto; */
}
.image img {
  width: 180px;
  height: auto;
}
